body {
  background-image: url('/assets/kDSnoXA3t6BYtfr9M6.gif');
  background-size: cover;
  background-repeat: no-repeat;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
